// out: ../css/

:root {
	--app-bg    : #EEE;
	--content-bg: #FFF;
	--border    : #DDD;

	--link-color    : #888;
	--font-color    : #111;
	--disabled-color: #DDD;
	--alert-color   : #F57F17;

	--main     : #757575;
	--main-dark: #424242;
	--main-font: #FFF;

	--tooltip-bg   : #222;
	--tooltip-color: #FFF;

	--alternate-row-bg: #F5F5F5;
}