<!DOCTYPE html>
<html lang="en">

<head>
	<title>Duit - Money Tracker</title>

	<meta charset="UTF-8">
	<meta name="description" content="Duit, simple money tracker">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/res/favicons/apple-120x120.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/res/favicons/apple-144x144.png">
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/res/favicons/apple-152x152.png">
	<link rel="icon" type="image/png" href="/res/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/res/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/x-icon" href="/res/favicons/favicon.ico">
</head>

<body>
	<script src="/js/libs/mithril.min.js"></script>
	<script type="module">
		import { startApp } from "./js/index.min.js"
		startApp()
	</script>
</body>

</html>