// out: ../../css/pages/

.home-page {
	padding   : 0.5rem;
	display   : flex;
	flex-flow : row nowrap;
	max-height: 100%;
	overflow  : hidden;
}

.home-page__account-list {
	flex        : 1 0;
	max-width   : 20rem;
	margin-right: 0.5rem;
}

.home-page__entry-list {
	max-width: 25rem;
	flex     : 1 0;
}