// out: ../../css/pages/

.home {
	padding   : 0.5rem;
	display   : flex;
	flex-flow : row nowrap;
	max-height: 100%;
	overflow  : hidden;
}

// Generic stuff
.home-list {
	display    : flex;
	flex-flow  : column nowrap;
	overflow-y : auto;
	overflow-x : hidden;
	background : var(--content-bg);
	border     : 1px solid var(--border);
	flex-shrink: 0;
}

.home-list__header {
	position   : sticky;
	top        : 0;
	padding    : 0 0.5rem;
	height     : 2.5rem;
	color      : var(--main-font);
	background : var(--main-dark);
	display    : flex;
	flex-flow  : row nowrap;
	flex-shrink: 0;
	align-items: center;
}

.home-list__header__title {
	overflow     : hidden;
	white-space  : nowrap;
	text-overflow: ellipsis;
	flex         : 1 0;
	font-size    : 0.9rem;
	font-weight  : 600;

	&:not(:last-child) {
		margin-right: 0.5rem;
	}
}

.home-list__header__button {
	padding         : 0;
	color           : var(--accent-font);
	background-color: transparent;
	font-size       : 0.9rem;

	&:hover,
	&:focus {
		color: var(--accent);
	}
}

.home-list__empty-message {
	margin   : auto;
	font-size: 0.9rem;
	color    : var(--link-color);
}

.home-list__loading-sign {
	margin   : auto;
	font-size: 4rem;
	color    : var(--link-color);
}

// Account stuff

.home-account-list {
	width       : 50vw;
	max-width   : 18rem;
	margin-right: 0.5rem;
}

// Entry stuff

.entry-list {
	max-width: 25rem;
	flex-grow: 1;
}

.entry-list__header {
	color     : var(--main-font);
	background: var(--main);
}

.entry__date {
	font-size       : 0.8rem;
	line-height     : 1.8rem;
	color           : var(--link-color);
	background-color: var(--content-bg);
	border-bottom   : 1px solid var(--border);
	padding         : 0 0.5rem;
	position        : sticky;
	top             : 2.5rem;
	text-align      : center;

	&:not(:first-child) {
		border-top-width: 1px;
	}
}

.entry {
	display              : grid;
	padding              : 0.5rem;
	grid-gap             : 0.5rem;
	grid-template-columns: 1fr minmax(30%, 100px);
	border-bottom        : 1px solid var(--border);
	cursor               : pointer;

	&:last-child {
		border: 0;
	}

	&:hover,
	&:focus {
		background-color: var(--alternate-row-bg);
	}
}

.entry__description {
	font-size: 0.9rem;
}

.entry__amount {
	font-size  : 0.9rem;
	font-weight: 600;
	text-align : right;
}

.entry--income {
	color: var(--income);
}

.entry--expense {
	color: var(--expense);
}

.entry--transfer {
	color: var(--transfer);
}

.entry-list__space {
	flex      : 1;
	min-height: 2.5rem;
}

.entry-list__footer {
	position       : sticky;
	bottom         : 0;
	top            : 2.5rem;
	padding        : 0 0.5rem;
	height         : 2.5rem;
	background     : var(--content-bg);
	display        : flex;
	flex-flow      : row nowrap;
	flex-shrink    : 0;
	align-items    : center;
	justify-content: center;
	border-top     : 1px solid var(--border);

	>*:not(:last-child) {
		margin-right: 0.5rem;
	}
}

.entry-list__footer__button {
	padding: 0;
}

.entry-list__footer__page {
	font-size: 0.9rem;
	color    : var(--link-color);
}